.leftbar
{

    position: relative;
    height: 100%;
    width: 20%;
    left: 0;
    border-right: 2px solid white;
    gap: 3em;
}

.resizer 
{
    width: 10px !important;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(81, 0, 0, 0.5);  */
}

.leftbar > *
{
    width: 100%;
}

.leftbar-core
{
    height: 80%;
    width: 100%;
}

.leftbar-core > * 
{
    width: 95%;
}

.leftbar-modele-core, .leftbar-parameter-core, .leftbar-data-core
{
    gap: 2em;
}

.leftbar-modele-title
{
    font-size: 20px;
}
.leftbar-modele-box 
{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    gap: 1em;
    padding-bottom: 10px; 
  }
  
.leftbar-modele-box::-webkit-scrollbar 
{
    height: 5px;
    background-color: transparent;
}

.leftbar-modele-box::-webkit-scrollbar-thumb 
{
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(81, 0, 0, 1) !important;
    border: 1px solid rgba(111, 0, 0, 1) !important;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-methode-box::-webkit-scrollbar-thumb 
{
    background-color: rgba(0, 81, 11, 1) !important;
    border: 1px solid rgba(0, 111, 11, 1) !important;
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-parametre-box::-webkit-scrollbar-thumb 
{
    border: 1px solid rgba(0, 2, 160, 1) !important;
    background-color: rgba(0, 2, 111, 1) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-dataset-box::-webkit-scrollbar-thumb 
{
    border: 1px solid rgb(144, 0, 228) !important;
    background-color: rgb(66, 0, 105) !important;
    box-shadow: 0 4px 6px rgba(162, 0, 255, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-modele-box::-webkit-scrollbar-track 
{
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid rgba(81, 0, 0, 1) !important;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-methode-box::-webkit-scrollbar-track 
{
    border: 1px solid rgba(0, 81, 11, 1) !important;
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-parametre-box::-webkit-scrollbar-track 
{
    border: 1px solid rgba(0, 2, 160, 1) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(10px);
}

.leftbar-dataset-box::-webkit-scrollbar-track 
{
    border: 1px solid rgb(144, 0, 228) !important;
    box-shadow: 0 4px 6px rgba(162, 0, 255, 0.2);
    backdrop-filter: blur(10px);
}

.modele-box, .methode-box, .parametre-box, .dataset-box
{
    padding: 10px;
    border-radius: 4px;
    cursor:pointer;
    width: 200px;
    transition: all 0.3s ease-in-out;
}
.modele-box
{
    border: 1px solid rgb(118, 2, 2);
    background-color: rgba(81, 0, 0, 1);
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.modele-box:hover
{
    border: 1px solid rgb(122, 2, 2);
    background-color: rgba(96, 2, 2, 1);
}

.methode-box
{
    border: 1px solid rgba(0, 111, 11, 1);
    background-color: rgba(0, 81, 11, 1);
    box-shadow: 0 4px 6px rgba(0, 255, 0, 0.2);
    backdrop-filter: blur(10px);
} 

.methode-box:hover
{
    border: 1px solid rgba(0, 122, 11, 1);
    background-color: rgba(0, 96, 11, 1);
}

.parametre-box 
{
    border: 1px solid rgba(0, 2, 160, 1);
    background-color: rgba(0, 2, 111, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(10px);
} 

.parametre-box:hover
{
    border: 1px solid rgba(0, 2, 181, 1);
    background-color: rgba(0, 2, 140, 1);
}
.dataset-box 
{
    border: 1px solid rgb(144, 0, 228);
    background-color: rgb(66, 0, 105);
    box-shadow: 0 4px 6px rgba(162, 0, 255, 0.2);
    backdrop-filter: blur(10px);
} 

.dataset-box:hover
{
    border: 1px solid rgb(144, 0, 228);
    background-color: rgb(100, 0, 158);
}